#Ignore course Resources folder
course-resources
supplementary
.vscode
testfile.ipynb
course-info
zip
unzip_me_for_instructions.zip

#Ignoring virtual environment folder and settings
.env

#Ignoring cache files
*.pyc

#Ignoring .DS_Store files
.DS_Store
